* {
    box-sizing: border-box;
}
.head {
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
}
/* стилизация названий рецептов */
.navigation * {
    transition: .4s linear;
}
.navigation {
    background-color: white;
    padding: 0 10px;
    margin: 0;
    text-align: center;

}
.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation li {
        font-family: "Trebuchet MS", "Lucida Sans", sans-serif;
        padding: 10px 0;
        display: inline-block;
        margin: 0 15px;
        list-style-type: none;
        list-style-position: inside;
        text-align: center;
        font-size: 24px;

}
.navigation a {
    text-decoration: none;
    color: #555;
}
.navigation li span {
    float: right;
    display: inline-block;
    padding: 0 5px;
    font-size: 13px;
    color: #999;
}
.navigation li:hover a {
    color: #c93961;
}
.navigation li:hover span {
    color: #c93961;
    border: 1px solid #c93961;
}
img {
    max-width: 100%;
    height: auto;
}